workflow/Wordpress Blog Generator.json
{
  "name": "Wordpress Blog Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -384
      ],
      "id": "2fa23f29-f6d2-495a-8793-41122927f019",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "title": "={{ $json.output.title }}",
        "additionalFields": {
          "content": "={{ $json.content }}",
          "slug": "={{ $json.output.slug }}",
          "status": "publish",
          "categories": [
            28
          ]
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        288,
        -96
      ],
      "id": "1f7decf5-770e-48a6-92f8-c490b6fb933f",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "UsH8B4PV1mGTyUNh",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a professional SEO-optimized blog post.\n\nFollow this EXACT structure:\n- Start with a short introduction (no heading)\n- Then create numbered sections (1, 2, 3, etc.)\n- Each numbered section must be a clear heading\n- Use subheadings where needed\n- Keep tone professional and informative (like an accounting firm blog)\n\nFormatting rules:\n- Do NOT use markdown (no ##, no ---)\n- Do NOT use symbols\n- Use clean plain text structure\n\nAlso return:\n{\n  \"title\": \"\",\n  \"content\": \"\",\n  \"slug\": \"\",\n  \"meta_title\": \"\",\n  \"meta_description\": \"\",\n  \"focus_keyword\": \"\",\n  \"image_metadata_title\": \"\",\n  \"image_metadata_slug\": \"\",\n  \"image_metadata_altext\": \"\",\n  \"image_metadata_caption\": \"\",\n  \"image_metadata_description\": \"\"\n}\n\nTopic: {{$json[\"topic\"]}}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        -384
      ],
      "id": "b331a5c2-0f9e-4993-b591-cba49b6e4c0d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -256,
        -160
      ],
      "id": "0a4b2aa5-e276-46f8-a2e8-4dd017946f17",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "m6pTuICPztPbd8xJ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Sample Title\",\n  \"content\": \"Sample content\",\n  \"slug\": \"sample-slug\",\n  \"meta_title\": \"Sample meta title\",\n  \"meta_description\": \"Sample meta description\",\n  \"focus_keyword\": \"sample keyword\",\n  \"image_metadata_title\": \"Sample Image Title\",\n  \"image_metadata_slug\": \"sample-image-slug\",\n  \"image_metadata_altext\": \"Sample alt text for SEO\",\n  \"image_metadata_caption\": \"Sample image caption\",\n  \"image_metadata_description\": \"Sample image description\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -128,
        -160
      ],
      "id": "ddaeb09e-2b39-4e47-bf47-05d23f807260",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4446f98-516b-4e6a-8f6e-413dff92fcb8",
              "name": "topic",
              "value": "Accountants Daily Problems",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -384
      ],
      "id": "05bedf56-842d-46cf-ac53-1a81e2632575",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an image relevant to \ntitle: {{ $('AI Agent').item.json.output.title }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI image‑prompt creation expert. Please create a post using the following JSON format:\nAI Image Generation Prompt Guidelines:\nObjective\nCreate highly realistic, high‐quality images\nEnsure the image content faithfully conveys the spirit of the original text\nIntegrate short text (10–20 characters) naturally into the image\nMaintain consistency and professionalism\n\nStandard Prompt Structure\n[Main Scene] | [Key Elements] | [Text Integration] | [Lighting & Atmosphere] | [Technical Parameters] | [Style Parameters]\n\nComponent Breakdown\n1. Main Scene (Weight ::8)\nDescribe the primary setting in line with the content.\nExamples:\nTech news: “modern tech office setting, minimalist workspace”\nEconomy news: “professional financial district, corporate environment”\nEducation news: “modern classroom, advanced learning environment”\n\n2. Key Elements (Weight ::8)\nList the main visual elements required.\nExamples:\n“large HD display showing text ‘AI Ethics’ in modern typography”\n“professional people in business attire discussing around interactive screen”\n“detailed infographic elements floating in augmented reality style”\n\n3. Text Integration (Weight ::7)\nHow to display text within the image:\ntext elements | elegant typography, clear readable text, integrated naturally into scene ::7\n\n4. Lighting & Atmosphere (Weight ::7)\nlighting | cinematic dramatic lighting, natural ambient light, professional studio setup ::7\nbackground | depth of field blur, clean professional environment ::6\n\n5. Technical Parameters\nparameters | 8k resolution, hyperrealistic, photorealistic quality, octane render, cinematic composition --ar 16:9\nsettings | sharp focus, high detail, professional photography --s 1000 --q 2\nComplete Examples\nExample 1: AI Ethics News\nprofessional tech conference room | large display showing \"AI Ethics Now\" in modern typography, group of diverse executives in discussion ::8 | clean modern workspace, glass walls, tech atmosphere ::7 | cinematic lighting, natural window light ::7 | 8k resolution, hyperrealistic quality, octane render --ar 16:9 --s 1000 --q 2\nExample 2: Financial Market News\nmodern stock exchange environment | giant LED wall showing \"Market Alert\" in bold typography, professional traders in action ::8 | dynamic financial data visualization, sleek modern interior ::7 | dramatic lighting, blue-tinted atmosphere ::7 | 8k resolution, photorealistic quality --ar 16:9 --s 1000 --q 2\n\nAdditional Parameters\n--chaos [0–100]: Adjust randomness\n--stylize [0–1000]: Degree of stylization\n--seed [number]: Ensure consistency across generations\n--niji: Optimized for Asian‐style aesthetics\n--v 5.2: Use the latest model version\n\nImportant Notes\nText in Image\nKeep it short and legible\nUse professional fonts\nIntegrate naturally into the scene\n\nComposition\nFollow the rule of thirds\nEnsure a clear focal point\nBalance text and imagery\n\nColor\nMatch a professional tone\nProvide sufficient contrast for readability\nMaintain visual consistency\n\nTechnical Details\nAlways use high resolution (8k)\nEnsure professional lighting\nOptimize for sharpness and detail\n\nCommon Pitfalls to Avoid\nOverly generic prompts\nMissing text‐integration guidance\nFailing to specify composition rules\nOmitting key technical parameters\n\nThe structure is:\n{\n  prompt_image {prompt : \"\" , ...}\n}"
        }
      },
      "id": "eaf03d8f-8857-4547-bbe2-85fb6ba2e9d2",
      "name": "AI Agent - Create Image From Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        608,
        -400
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "modelName": "models/gemma-4-31b-it",
        "options": {
          "maxOutputTokens": 65536,
          "temperature": 0.5,
          "topK": 40,
          "topP": 1,
          "safetySettings": {
            "values": [
              {
                "category": "HARM_CATEGORY_HARASSMENT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_HATE_SPEECH",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                "threshold": "BLOCK_NONE"
              },
              {
                "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                "threshold": "BLOCK_NONE"
              }
            ]
          }
        }
      },
      "id": "a52d6190-14d5-45cb-853a-bdeb3280fda0",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        688,
        -176
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "7EeTkUnadh1yrbmG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function cleanAndExtractJSON(response) {\n    try {\n        const result = {\n            image_prompt: []\n        };\n\n        const lines = response.split('\\n');\n        let currentPrompt = '';\n\n        for (const line of lines) {\n            if (line.includes('\"prompt\":')) {\n                if (currentPrompt) {\n                    result.image_prompt.push(currentPrompt.trim());\n                }\n                currentPrompt = line.split('\"prompt\":')[1].trim();\n            }\n        }\n\n        if (currentPrompt) {\n            result.image_prompt.push(currentPrompt.trim());\n        }\n\n        return { json: result };\n        \n    } catch (error) {\n        return { \n            json: {\n                image_prompt: []\n            }\n        };\n    }\n}\n\nconst response = $input.first().json.output;\nreturn cleanAndExtractJSON(response);"
      },
      "id": "34418116-41ca-43d1-9860-ad317fb1daec",
      "name": "Code - Clean Json",
      "type": "n8n-nodes-base.code",
      "position": [
        960,
        -400
      ],
      "executeOnce": false,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.image_prompt.map(prompt => ({\n  json: {\n    body: {\n      prompt: prompt,\n  \"image_size\": {\n    \"width\": $('Fields - Set Values').first().json.width,\n    \"height\": $('Fields - Set Values').first().json.height\n  },\n  \"num_inference_steps\": 12,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": true,\n}\n    }\n  }\n));"
      },
      "id": "8b35fcf3-c4c0-4f74-af3a-c6d61e2f8873",
      "name": "Code - Get Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        1184,
        -400
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "for (let i = 0; i < items.length; i++) {\n  items[i].json.fileName = `images_${(i + 1).toString().padStart(3, '0')}.png`;\n}\nreturn items;"
      },
      "id": "1fdb46e0-11f0-4ba4-a6f2-4bb4eca8ea4a",
      "name": "Code - Set Filename",
      "type": "n8n-nodes-base.code",
      "position": [
        1408,
        -400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/ {{ $('Code - Get Prompt').item.json.body.prompt }}",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"width\": {{ $('Fields - Set Values').item.json.width }},\n  \"height\": {{ $('Fields - Set Values').item.json.height }},\n  \"model\": \"{{ $('Fields - Set Values').item.json.model }}\",\n  \"seed\": 42,\n  \"nologo\": true\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2d517bd8-2e47-4b01-87dd-469c3bd8ade4",
      "name": "HTTP Request - Create Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1632,
        -400
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19024d68-5df1-4e05-bbe2-af8538de90d1",
              "name": "model",
              "value": "flux",
              "type": "string"
            },
            {
              "id": "ef11e1e8-9dc4-43a2-bb7e-de5e5c0d455f",
              "name": "width",
              "value": "2528",
              "type": "string"
            },
            {
              "id": "95c4aff5-a08b-4979-a322-0562c99fbb77",
              "name": "height",
              "value": "1696",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -400
      ],
      "id": "ad3b18c4-d770-4a2a-83b5-99d995f6ca40",
      "name": "Fields - Set Values"
    },
    {
      "parameters": {
        "jsCode": "let content = $input.first().json.output.content;\n\n// 1. Convert \"1 Title\" or \"1. Title\" to H2\ncontent = content.replace(/^(\\d+)\\.?\\s+(.+)$/gm, '<h2>$2</h2>');\n\n// 2. Convert \"Subheading Title\" to H3 and remove the word \"Subheading\"\ncontent = content.replace(/^Subheading\\s+(.+)$/gm, '<h3>$1</h3>');\n\n// 3. Convert double newlines to paragraphs\ncontent = content.split('\\n\\n').map(p => `<p>${p.trim()}</p>`).join('');\n\n// 4. Final cleanup for single line breaks within paragraphs\ncontent = content.replace(/\\n/g, ' ');\n\nreturn [{\n  ...$json,\n  content: content\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -368
      ],
      "id": "c9922881-447e-4c7e-b804-4df35c06800f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://directassistaccountants.co.uk/wp-json/wp/v2/media/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output.image_metadata_title }}"
            },
            {
              "name": "slug",
              "value": "={{ $('AI Agent').item.json.output.image_metadata_slug }}"
            },
            {
              "name": "alt_text",
              "value": "={{ $('AI Agent').item.json.output.image_metadata_altext }}"
            },
            {
              "name": "caption",
              "value": "={{ $('AI Agent').item.json.output.image_metadata_caption }}"
            },
            {
              "name": "description",
              "value": "={{ $('AI Agent').item.json.output.image_metadata_description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2112,
        -400
      ],
      "id": "5694557b-e1ee-4a73-b6c0-068c0aa34c30",
      "name": "Upload image meta data",
      "credentials": {
        "wordpressApi": {
          "id": "UsH8B4PV1mGTyUNh",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://directassistaccountants.co.uk/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachement; filename={{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "content-type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        -400
      ],
      "id": "503156c8-1052-4d7b-ba18-bc837957b582",
      "name": "Upload media to WP",
      "credentials": {
        "wordpressApi": {
          "id": "UsH8B4PV1mGTyUNh",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://directassistaccountants.co.uk/wp-json/wp/v2/posts/{{ $('Create a post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $('Upload media to WP').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2368,
        -400
      ],
      "id": "579183c4-4881-4685-81f8-9d1d56d0db07",
      "name": "Set Featured Image",
      "credentials": {
        "wordpressApi": {
          "id": "UsH8B4PV1mGTyUNh",
          "name": "Wordpress account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Fields - Set Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - Clean Json": {
      "main": [
        [
          {
            "node": "Code - Get Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Get Prompt": {
      "main": [
        [
          {
            "node": "Code - Set Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Create Image From Prompt": {
      "main": [
        [
          {
            "node": "Code - Clean Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Set Filename": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields - Set Values": {
      "main": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image": {
      "main": [
        [
          {
            "node": "Upload media to WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media to WP": {
      "main": [
        [
          {
            "node": "Upload image meta data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image meta data": {
      "main": [
        [
          {
            "node": "Set Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e3be09ae-4156-4157-bb46-f6fa7f19c720",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82dfe170599b97126b915ed8d3a5b5cfe7bb5e3d4193a19399f8318c93beaac6"
  },
  "id": "zJa9WxopQZ7jYKgG",
  "tags": []
}